.Article {
    background-color: #f4efef;
    border: 1px solid #242424;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 20px;
  }
  
.ArticleHover:hover {
  color: #242424;
  border: solid 1px #242424;
  }

.ArticleBorder {
  border: solid 2px #242424;
  }
  
.Article figure,
h5 {
  margin: 0 0;
  }