.Button {
    font-size: 20px;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 10px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}
  
.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    font-weight: 800;
}
  
.Button:hover:active {
    background-color: #242424 !important;
}
  
.Button:active {
    background-color: #242424 !important;
}
  
.Button:focus {
    outline: none;
    background-color: #242424 !important;
}
  
.Wide {
    padding: 10px 50px;
    width: 100%;
}
  
.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: #242424;
    color: #f4efef;
}
  
.BlueOutline,
.Blue:hover {
    background-color: #f4efef;
    color: #242424;
}

.Black,
.BlackOutline {
    font-size: 15px;
    align-self: center;
    border-radius: 50px;
    border-color: transparent;
    padding: 3px 3px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    letter-spacing: 0.05em;
}

.Black,
.BlackOutline:hover {
    background-color: #555555;
    color: #f4efef;
}
  
.Black:hover,
.BlackOutline {
    background-color: #242424;
}
  
.Bright {
    background-color: #555555;
    color: #242424;
}