.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
  }

  .DropdownMenu {
    position: absolute;
    top: -128px;
    left: -90px
  }
  
  .Absolute {
    position: relative;
    right: 0; 
    z-index: 99;
  }