.NavBar {
    background-color: #999999;
}

.logo {
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 0.05em;
    color: #242424;
    text-decoration: none;
    vertical-align: middle;
}

.NavLink {
    text-decoration: none;
    padding-right: 20px;
}

.Active i {
    color:#242424
}

.NavText {
    vertical-align: middle;
    font-size: 20px;
}

@media screen and (max-width:350px) {
    .title {
        font-size: 25px;
    }
}