.Container {
    min-height: 343px;
}

.AssetCursor:hover {
    cursor: pointer;
}

.modal {
    background-color: rgba(36, 36, 36, 0.879);
}

.BottomPadding {
    padding-bottom: 60px;
}

.BottomPaddingEvent {
    padding-bottom: 67px;
}

.ButtonsSmScreen {
    display: none;
}

.ButtonsBgScreen {
    display: block;
}

hr {
    width: 100%;
    border: solid 2px #f4efef;
}

@media only screen and (max-width: 768px) {
    .ButtonsSmScreen {
        display: block;
    }
    
    .ButtonsBgScreen {
        display: none;
    }
}