.Container {
    min-height: 343px;
}

.AssetCursor:hover {
    cursor: pointer;
}

.modal {
    background-color: rgba(36, 36, 36, 0.879);
}

.BottomPadding {
    padding-bottom: 60px;
}

.BottomPaddingEventArticle {
    padding-bottom: 67px;
}

hr {
    width: 100%;
    border: solid 2px #f4efef;
}