.Row {
    height: calc(100vh - 81px);
}

.Input {
    background: #ffffff;
    border: 2px solid #555555;
    box-sizing: border-box;
    color: #555555;
    text-align: center;
    padding: 10px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #242424;
}
  
.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Link:hover {
    color: #555555;
}
  
.Link span {
    color: #242424;
}
  
.Container {
    padding: 30px 10px;
}
  
.SignInCol {
    height: 320px;
}
  
.SignUpCol {
    height: 375px;
}