.App {
    font-family: 'Alegreya', serif;
    background-color: #f4efef;
    min-height: 100vh;
}

.main {
    padding-top: 102px;
}

* {
    box-sizing: border-box;
}
  
a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}
  
a:hover {
    text-decoration: none;
    color: #242424;
}
  
a:hover i {
    color: #242424;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #f4efef;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #242424;
}